body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  display: flex;
}

.sidebar {
  width: 200px;
  background: plum;
  color: black;
  padding: 18px;
  height: 100vh;
}

.sidebar h2 {
  margin-bottom: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li a {
  color: black;
  text-decoration: none;
  display: block;
  margin: 10px 0;
}

.content {
  flex: 1;
  padding: 20px;
  background: lavendarblush;
}

header h1 {
  margin-bottom: 20px;
}

.cards {
  display: -webkit-inline-flex;
  gap: 18px;
}

.card {
  background: plum;
  padding: 18px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  flex: 4;
}



